{% extends 'index.html'%}
{% load static %}
{% block title %}
<title>Ashop |Forget Password  Page</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-1"></div>
        <div class="col-md-8 col-10">
            <h5 class="background text-light text-center p-1 mt-2">Forget Password Section</h5>
            {% for i in messages %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert"></div>
            {{i}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">OTP</label>
                    <input type="number" class="form-control" name="otp" placeholder="Enter OTP wich is sent on Your Registered Email Address ">
                </div>
                <button type="submit" class="btn background text-light w-100 btn-sm mybtn mb-2">Submit OTP</button>
            </form> 
        </div>
        <div class="col-md-2 col-1"></div>
    </div>
</div>
{% endblock %}